body {
  background-color: #c8d5b9;
  margin: 0px;
}

  header {
    background-color: #8fc0a9;
    display: flex;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid black;
    border-radius: 5px;
  }

  .header {
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 75px;
  }

  .container {
    display: grid;
    justify-content: center;
  }

    .container h1 {
      display: flex;
      justify-content: center;
  }

  #fields {
    display: grid;
    grid-template-columns: 2fr 6fr ;
  }

  .inputs {
    display: flex;
    flex-direction: column;
  }

  .inputs input {
    padding: 15px;
    border-radius: 12px;
    background-color: #FAF3DD;
  }

  .info {
    border-radius: 12px;
    gap: 30px;
    border: 1px solid black;
    box-shadow: 0 3px 10px rgba(16,24,40,0.02);
    text-align: center;
  }

    .info h3{
      margin-top: 15px;
      margin-bottom: 25px;
  }

  .logContainer{
    display: flex;
    justify-self: center;
    gap: 20px;
  }

  footer {
    display: flex;
    gap: 40px;
  }
  